**/*.map
**/*.ts
**/.vscode-test.*
**/eslint.config.mjs
**/tsconfig*.json
**/*.config.{js,mjs}
*.vsix
.depcheckrc
.github/**
.gitignore
.merge/**
.releaserc.json
.vscode-test/**
.vscode/**
.vscodeignore
.yarnrc
benchmark-report.json
build-webview.js
coverage/**
esbuild.js
large-diff-benchmark-results.json
node_modules/**
performance-results.json
scripts/**
src/**
test_tester.bat
vsc-extension-quickstart.md
webview/**
yarn.lock
yek.yaml